@using System.Security.Claims;
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Chinook</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="height: 100%">
    <nav class="flex-column" style="height: 100%; overflow-y:scroll;">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Home
            </NavLink>
        </div>
        @if(FavPlaylist != null)
        {
            <div class="nav-item px-3">
            <NavLink class="nav-link" href="@($"playlist/{FavPlaylist.PlaylistId}")">
                <i class="bi bi-music-note-list me-3" style="font-size: 1.25em"></i>@FavPlaylist.Name
            </NavLink>
            </div>
        }
        <div class="nav-item px-3">
            @if (Playlists != null)
            {
                @*Loading side navigation with play lists
                href binds with playlist Id *@
                @foreach (var nav in Playlists)
                {
                    if(nav.Name != Constants.FavoriteList.Name)
                    {
                        <NavLink class="nav-link" href="@($"playlist/{nav.PlaylistId}")">
                            <i class="bi bi-music-note-list me-3" style="font-size: 1.25em"></i>@nav.Name
                        </NavLink>
                    }

                }
            }

        </div>
    </nav>
</div>


